header {
  background: linear-gradient(to bottom, #c5e8f3, white);
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  position: fixed;
  top: 0;
  left: 0;
  grid-template-rows: 100%;
  height: 50px;
}
main {
  position: absolute;
  top: 50px;
  min-height: 80vh;
  background: #c8e4bc;
  overflow: auto;
  left: 0px;
  right: 0px;
}

footer {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  line-height: 20px;
  position: absolute;
  bottom: 0;
  height: 12vh;
  background: linear-gradient(to bottom, #f5dbc6 90%, #967f7f);
  left: 0;
  right: 0;
}
