header {
  background: linear-gradient(to bottom, white 42%, #c5e8f3 93%);
  display: flex;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  position: fixed;
  top: 0;
  left: 0;
  grid-template-rows: 100%;
  height: 50px;
  justify-content: flex-end;
}
nav {
  grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
  grid-template-rows: auto;
  height: 100%;
  display: grid;
  position: relative;
  grid-template-columns: 100px 100px repeat(auto-fit, minmax(100px, auto));
  justify-items: center;
  align-items: center;
}

main {
  position: absolute;
  top: 50px;
  min-height: 80vh;
  background: #c8e4bc;
  overflow: auto;
  left: 0px;
  right: 0px;
  bottom: 30px;
}

footer {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  line-height: 20px;
  position: absolute;
  bottom: 0;
  height: 30px;
  background: linear-gradient(to bottom, #fbd3af 71%, #ca7831 89%);
  left: 0;
  right: 0;
}
