<main>
  <article id="greetings">
    <section id="big-hi">
      BIG HI!
    </section>
    <section id="quotes">
      some Nature quotes
    </section>
  </article>
  <article id="profile">
    <section id="profile-image-container">
      <picture style="display: inline-block;">
        <source media="(min-width: 650px)" srcset="assets/image/RINO-LINKED.png">
        <img src="assets/image/RINO-LINKED.png" alt="author-profile-photo">
      </picture>
    </section>

    <section id="self-description">
      <p>
        I'm a Web Application Developer with 3 years of professional experience.
      </p>
    </section>
  </article>

</main>
