<main>
    <article id="greetings">
        <section id="big-hi">
            BIG HI!
        </section>
        <section id="quotes">
            some Nature quotes
        </section>
    </article>
    <article id="profile">
        <section id="profile-pic">
            <div>
                <div id="profile-image-container">
                    <img src="assets/image/RINO-LINKED.png" alt="">
                </div>
            </div>
        </section>

        <section id="self-description">
            <p>
                I'm a Web Application Developer with 3 years of professional experience.
            </p>
        </section>
    </article>

</main>